@mixin font($fz, $lh, $fw, $ls) {
   font-size: $fz;
   line-height: $lh;
   font-weight: $fw;
   letter-spacing: $ls; 
}

.about {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width:1200px) { 
    .about__container {
    display: flex;
    align-items: stretch;
    }
}
@media screen and (min-width: 768px) {
    .about__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
}
@media screen and (min-width:480px) {
    .about__container {
    display: flex;
    flex-direction: column;  
    }
}


.about__list {
    // margin:0 auto;
    // padding: 0;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-content: flex-start;
    // & .about__list__item {
    // width: 270px;
    // height: auto;
    // };  
    // & .about__list__item:not(:last-of-type) {
    // margin-right: 30px;
    // };
    margin: 0 auto;
    padding: 0;
    }

@media  screen and (min-width:480px) {
    .about__list{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .about__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 50%;  
    }
}
@media screen and (min-width: 1200px) {
    .about__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }
}


@media  screen and (min-width:480px) {
    .about__list .about__list__item {
    min-width: 100%;
    height: auto; 
    }
}
@media  screen and (min-width:768px) {
    .about__list .about__list__item { 
    width: 354px;
    height: auto;  
    }
}
@media  screen and (min-width:1200px) {
    .about__list .about__list__item { 
    width: 270px;
    height: auto;
    }
}

.about__list .about__list__item:not(:last-of-type) {
    margin-bottom: 30px;
}



@media  screen and (min-width:480px) {
    .about__list__container{
    min-width: 450px;
    height: 120px;
    }
}
@media  screen and (min-width:768px) {
    .about__list__container{
    width: 354px;
    height: 120px;  
    }
}
@media screen and (min-width:1200px) {
    .about__list__container{
    width:270px;
    height: 120px;
    }
}
.about__list__container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: rgba(245, 244, 250, 1);
}

.about__list__icon {
    object-position: center;
    object-fit: contain;
    position: 50% 50%;
}


.about__list__title {
    text-align: left;
    @include font(14px, 1.14, 700, 0.03em );
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 10px;
}
@media  screen and (min-width:480px) { 
    .about__list__title{text-align: center;
    }
}

.about__list__subtitle {
    @include font(14px, 1.7, 400, 0.03em );
    color: var(--secondary-text-color);
}
@media  screen and (min-width:480px) {
    .about__list__subtitle {& br{ display: none;}
    }
}
@media  screen and (min-width:768px) {
    .about__list__subtitle{ & br{ display: none;}
    }
}