@media screen and (min-width:320px) and (max-width:479px){
    .hero {
    background-color: var(--primary-bgcolor);
    height: auto;
    margin:0 auto;
    padding: 0 auto;
    }  
    .hero_background {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    .hero__title {
    color: var(--primary-white-color);
    @include font(26px, 1.61, 900, 0.06em );
    text-transform:uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }  
    .hero__container{
    width: 450px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx){
    .hero_background {
    width: 480px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    }
}


@media screen and (min-width:480px) and (max-width:767px) {
    .hero {
    background-color: var(--primary-bgcolor);
    height: auto;
    margin:0 auto;
    padding: 0 auto;
    }  
    .hero_background {
    width: 480px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    .hero__title {
    color: var(--primary-white-color);
    @include font(26px, 1.61, 900, 0.06em );
    text-transform:uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }  
    .hero__container{
    width: 450px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx){
    .hero_background {
    width: 480px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-mobile@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    }
} 



@media screen and (min-width:768px) and (max-width:1199px) {
    .hero {
    background-color: var(--primary-bgcolor);
    height: auto;
    margin:0 auto;
    padding:0 auto;
    width: 100%;
    } 
    .hero_background {
    width: 768px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    } 

    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx) {
    .hero_background{
    width: 768px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-tablet@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    }
    }

    .hero__title {
    color: var(--primary-white-color);
    @include font(26px, 1.61, 900, 0.06em );
    text-transform:uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }  
    .hero__container{
    width: 638px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }  
}

@media screen and (min-width:1200px) {
    .hero {
    background-color: var(--primary-bgcolor);
    height: auto;
    margin:0 auto;
    padding:200px 0;
    } 
    .hero_background {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    } 
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution:2dppx) {
    .hero_background{ 
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url('../images/index/bg-desktop@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    } 
    }
    .hero__title {
    color: var(--primary-white-color);
    @include font(44px, 1.36, 900, 0.06em );
    text-transform:uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    }
    .hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

@mixin font($fz, $lh, $fw, $ls) {
   font-size: $fz;
   line-height: $lh;
   font-weight: $fw;
   letter-spacing: $ls; 
}

.hero__btn_backdrop{
    @include font(16px, 1.87,700,0.06em);
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 200px;
    margin: 0px auto;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}
