.trades {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
    display: block;
    padding-top:0;
}

@media screen and (min-width:480px) and (max-width:1200px) {
    .trades {display: none;}
}
.trades__container {
    margin: 0 auto;
}

.trades__title {
    @include font(36px, 1.16, 700, 0.03em );
    color: inherit;
    margin: 0 auto 50px;
    text-align: center;

}

.trades__list{
    margin: 0 auto;
    padding: 0;
    & .trades__list__item:not(:last-of-type) {
    margin-right: 30px;
    }
    & .trades__list__item {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    }
}

.trades__img {
    display: block;
    max-width: 100%;
    height: 294px;
}

.trade__list__container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    & > .trades__list__subtitle {
    position: absolute;
    top: 224px;
    margin: 0;
    text-align: center;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 370px;
    
    @include font(14px, 1.14, 700, 0.03em );
    font-family: 'Roboto'sans-serif;
    color: var(--primary-white-color);
    text-transform: uppercase;
    }    
}
