body {
    color: var(--primary-text-color);
    font-family: 'Roboto',sans-serif;
    margin: 0 auto;
    height: auto;
}
@media screen and (min-width:320px) and (max-width:479px){
    .section {
    padding: 60px 0;
    }
    .list {
    display: flex;
    flex-direction: column;
    }
    .portfolio {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
    display: block;
    width: 320px;
    }
    .portfolio__container {
    margin: 0 auto;
    width: 320px;
    }
    .container { 
        width: 320px;
    }
}  

@media screen and (min-width:480px) and (max-width:767px) {
    .section {
    padding: 60px 0;
    }
    .list {
    display: flex;
    flex-direction: column;
    }
    .container { 
        width: 480px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .section {
    padding: 60px 0;
    }
    .list {
    display: flex;
    flex-direction: row;
    } 
    .container { 
        width: 768px;
    }
}

@media screen and (min-width:1200px) {
    .container { 
        width: 1200px;
    }
    .section{
    padding: 94px 0;
    } 
    .list {
    display: flex;
    flex-direction: row;  
    }
}

.container {
    
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section { 
    margin: 0 auto;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.list {
    list-style-type:none;
    margin:0 auto;
}

.description {
    color: var(--secondary-text-color);
    font-weight: 400;
    
}

.main {
    margin: 0 auto;
    padding: 0 auto;
    height: auto;
    display: block;
} 

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.portfolio {
    background-color: var(--primary-white-color);
    height: auto;
    margin: 0 auto;
    display: block;

}

.portfolio__container {
    margin: 0 auto;
}